$md: "(max-width: 1241px)"
$xs: "(max-width: 890px)"

@mixin revealAnimation
    opacity: 0
    animation: revealImage 0.5s ease-in-out forwards

#about
    height: 100vh
    overflow: hidden
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -ms-flex-align: center
    justify-content: center
    align-items: center
    background-color: #FFE99A
    .aboutMain
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

.sliderContainer
    position: relative
    display: flex
    flex-direction: row
    justify-content: space-between
    max-width: 1200px
    color: #151515
    .slide-active

    .slide
        .slideWrap
            display: flex
            flex-direction: row
            &::after
                content: ''
                position: absolute
                bottom: 0
                left: 0
                width: 68%
                height: 1px
                background-color: #151515
            .slideLeft
                display: flex
                flex-direction: column
                padding-right: 180px
                .slideIcons
                    display: flex
                    flex-direction: row
                    .slideIcon
                        margin-right: 20px
                        height: 30px
                        width: 30px
                        text-align: center
                        padding: 4px 5px
                        border: 1px solid #151515
                        border-radius: 50%
                        cursor: pointer
                        transition: border-color 0.2s ease-in-out
                        &:hover
                            border-color: #EF5F63
                    .activeSlideIcon
                        border-color: #EF5F63
                .slideHeader
                    font-weight: bold
                    font-size: 50px
                    margin: 10px 0 15px 0
                    @include revealAnimation
                    animation-delay: 0.1s
                .slideShortDescription
                    font-size: 26px
                    margin-bottom: 20px
                    @include revealAnimation
                    animation-delay: 0.3s
                .slideDescription
                    font-size: 18px
                    margin-bottom: 20px
                    @include revealAnimation
                    animation-delay: 0.5s
            .slideRight
                width: 420px
                height: 420px
                img
                    @include revealAnimation
                    animation-delay: 0.7s
                    border-radius: 40px
                    margin: 0
                    padding: 0

@media screen and #{$md}
    #about
        .sliderContainer
            padding: 0 20px
            .slide
                .slideWrap
                    align-items: center
                    .slideRight
                        width: 300px
                        height: 300px
                        img
                            width: 300px
                            height: 300px

@media screen and #{$xs}
    #about
        height: auto
        padding: 30px 0
        .sliderContainer
            padding: 0 20px
            .slide
                .slideWrap
                    flex-direction: column
                    &::after
                        content: none
                    .slideLeft
                        padding: 0
                    .slideRight
                        width: 300px
                        height: 300px
                        img
                            width: 300px
                            height: 300px
